<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>News Research Results</title>

  <script>
    var username;
    $(document).ready(function () {
      buttons = document.getElementsByClassName("btn btn-outline-primary");
      $.getJSON('/userlookup', function (data) {
        for (var i = 0; i < data.length; i++) {
          $(".btn").each(function () {
            var button_article_link = $(this).closest("tr").find(".table_link").text();
            button_article_link = button_article_link.replace(/\s/g, '');
            if (button_article_link == data[i]) {
              $(this).removeClass("btn btn-outline-primary").addClass("btn btn-outline-danger");
            } else {
              $(this).addClass("btn btn-outline-primary")
            }
          })
        }
      });
      for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function (event) {
          if ($(this).attr("class") == "btn btn-outline-primary") {
            var article_link_like = $(this).closest("tr").find(".table_link").text();
            $(this).attr("name", article_link_like);
            var like_value = parseInt($(this).html()) + 1;
            $(this).removeClass("btn btn-outline-primary").addClass("btn btn-outline-danger");
            $(this).html(like_value);
            $.ajax({
              type: "GET",
              url: "/getUser",
              success: function (data) {
                console.log(data);
                username = data;
                $.ajax({
                  type: "POST",
                  url: "/likingarticle",
                  data: { current_name: username, article_link: article_link_like },
                  success: function (data) {
                  },
                  error: function (error) {
                    console.log("There has been an error: " + error)
                  }
                });
              }
            })

            $.ajax({
              type: "POST",
              url: "/likingarticlecount",
              data: { article_link: article_link_like },
              success: function (data) {
              },
              error: function (error) {
                console.log("There has been an error: " + error)
              }
            });
          } else {
            var article_link_dislike = $(this).closest("tr").find(".table_link").text();
            $(this).attr("name", article_link_dislike);
            $(this).removeClass("btn btn-outline-danger").addClass("btn btn-outline-primary");
            var like_value = parseInt($(this).html()) - 1;
            $(this).html(like_value);
            $.ajax({
              type: "POST",
              url: "/dislikingarticle",
              data: { current_name: "raymons", article_link: article_link_dislike },
              success: function (data) {
              },
              error: function (error) {
                console.log("There has been an error: " + error)
              }
            });
            $.ajax({
              type: "POST",
              url: "/dislikingarticlecount",
              data: { article_link: article_link_dislike },
              success: function (data) {
              },
              error: function (error) {
                console.log("There has been an error: " + error)
              }
            });
          }
        });
      }
    });
  </script>
</head>

<body>
  <h1>News Search Results</h1>
    <h3> Top <%= map_object_arr.length %> News Articles matching: " <%= search %> " </h3>
 	    <form method="get" action="/newssearch">

    <button type="submit"> Back </button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Headline</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Author</th>
        <th scope="col">Link</th>
        <th scope="col">Date</th>
        <th scope="col">Like</th>
      </tr>
    </thead>
    <tbody>
      <% if (map_object_arr !=null) { %>
        <% for (var i=0; i < map_object_arr.length; i++) { %>
          <tr>
            <td class="table_headline">
              <%= map_object_arr[i].headline %>
            </td>
            <td class="table_description">
              <%= map_object_arr[i].description %>
            </td>
            <td class="table_category">
              <%= map_object_arr[i].category %>
            </td>
            <td class="table_author">
              <%= map_object_arr[i].author %>
            </td>
            <td class="table_link"> <a href=<%=map_object_arr[i].link %> > <%= map_object_arr[i].link %> </a> </td>
            <td class="table_date">
              <%= map_object_arr[i].date %>
            </td>
            <td class="table_button"> <button id=" <%= i %> type=" button" class="btn btn-outline-primary" class="btn">
                <%= map_object_arr[i].likes %>
              </button> </td>
          </tr>
          <% } %>
            <% } %>
    </tbody>
  </table>
</body>

</html>